<!-- <section>

    <li>${data.name}</li>
    <li>${data.address}</li>


</section> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            
                <br>
                ${data.name}
                <br>
                ${data.address}
                <br>
                



                <!-- <img src="${data.picture}" alt="">> -->
                <br>
                


                
                REVIEWS
        </div>
    </div>
</div>